* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a {
    text-decoration: none;
}
img {
    width: 100%;
}
#header {
    background-color: #15263e !important;
}
.navbar {
    padding-top: 0;
    padding-bottom: 0;
}
#header .container-fluid {
    padding-right: 0;
    padding-left: 0;
}
.navbar-nav  {
    margin: auto;
}
.navbar-nav .nav-link {
    color: #ffffff !important;
    font-size: 20px;
    text-transform: capitalize;
    padding-left: 12px !important;
    padding-right:12px !important;
    padding-bottom: 12px;
}
button:focus{
    outline: 0;
    border: none;
}
.navbar-toggler{
    background:#303436;
    border:none;
    padding: 10px 10px 5px 10px;
    border-radius:3px;
    margin-top:10px;
    margin-right: 5px;
    margin-bottom: 8px;
}
.navbar-toggler .icon-bar {
    display: block;
    width: 30px;
    margin-bottom: 5px;
    height: 3px;
    border-radius: 1px;
    background: #ffffff;
}
.navbar-nav .nav-item:hover {
    background: linear-gradient(to right,#a21af0,#ff0072);
}
/* End the Header Section  */
/* Start banner section  */
#banner {
    background: url(../image/banner.jpg);
    height: 90vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.main-banner {
    text-align: center;
    padding: 70px;
}
.main-banner h1 {
    color: #ffffff;
    font-size: 35px;
}
.main-banner span {
    font-size: 140px;
    text-transform: capitalize;
    line-height: 100px;
}
.main-banner .color {
    background: linear-gradient(to right,#a21af0,#ff0072);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    
}
.main-banner p {
    font-size: 20px;
    color: #fff;
    text-transform: uppercase;
}
.main-banner button {
    padding: 10px 20px;
    outline: none;
    border: none;
    color: #fff;
    background: linear-gradient(to right,#a21af0,#ff0072);
    margin-top: 20px;
}
/* Start About Me Section */
#about-me {
    padding: 10px 0px;
    background: #ffffff;
    color: #000;
}
.my-description {
    padding: 20px 0 10px;
    text-align: right;
}
.my-description h2 {
    font-size: 50px;
    color: #15263e;
    margin-bottom: 0px;
}
.my-description span {
    font-size: 25px;
    color: #a21af0;
}
.my-description p {
    padding-top: 10px;
    font-size: 18px;
}
.skills {
    padding: 30px 0 10px;
}
.skills span {
    display: block;
    text-align: center;
    font-size: 20px;
    padding-bottom: 5px;
    font-weight: bold;
    text-transform: uppercase;
}
.skills .progress {
    background-color: #ff0072;
    border-radius: 20px;
}
.skills .progress-bar {
    background-color: #a21af0;
    border-radius: 20px;
}
.skills span:nth-child(3) {
    padding-top: 20px;
}
.skills span:nth-child(5) {
    padding-top: 20px;
}
.skills span:nth-child(7) {
    padding-top: 20px;
}
/* End About Me Section  */
/* Start Contact Information Section  */
#contact-information{
    padding: 50px 0px;
    background: #dcdcde;
}
.icon {
width: 25%;
float: left;
background: #374362;
text-align: center;
font-size: 40px;
padding: 20px;
border-radius: 50%;
color: #fff;
}
.phone-information {
    width: 75%;
    float: right;
    text-transform: uppercase;
}
.phone-information h5 {
    margin: 10px 0px 10px 20px;
    font-size: 25px;
    
}
.phone-information span {
    font-size: 16px;
    margin-left: 20px;
}

/* Extra Small Device Media Qurey */
@media (max-width: 576px) {
   .main-banner span {
       font-size: 80px;
       line-height: 70px;
   }
   .main-banner h1 {
       font-size: 25px;
   }
   .main-banner p {
       font-size: 17px;
   }
   /* Start Contact Information Section  */
   .icon {
       font-size: 30px;
       padding: 10px;
       width: 15%;
       margin-left: 20px;
       margin-top: 10px;
   }
   .phone-information {
       margin-bottom: 20px;
   }
   .phone-information h5 {
        margin: 0px 0px 10px 20px;
        font-size: 20px; 
        font-weight: bold; 
     }
     .phone-information span {
         font-size: 13px;
     }
     /* End the contact Information Section  */
  }
@media (min-width:576px) and (max-width: 767px){
    /* Start The Contact Information Section  */
    .icon {
        font-size: 30px;
        padding: 10px;
        width: 15%;
        margin-left: 20px;
        margin-top: 10px;
    }
    .phone-information {
        margin-bottom: 20px;
    }
    .phone-information h5 {
         margin: 0px 0px 10px 20px;
         font-size: 20px; 
         font-weight: bold; 
      }
      /* End the Contact Information Section  */
}

  /* Large Device media Qurey */
@media ( min-width: 768px) and (max-width: 991px){
    /* Strat About Me Section  */
    .my-description h2 {
        font-size: 30px;
    }
    .my-description span {
        font-size: 18px;
    }
    .my-description p {
        font-size: 14px;
    }
    .skills span {
        font-size: 16px;
    }
    .skills span:nth-child(3) {
        padding-top: 5px;
    }
    .skills span:nth-child(5) {
        padding-top: 5px;
    }
    .skills span:nth-child(7) {
        padding-top: 5px;
    }
    .image img {
        margin-top: 45px;
    }
    /* End About Me Section  */
    /* Start The Contact Information Section  */
    .icon {
        font-size: 30px;
        padding: 10px;
        width: 30%;
    }
    .phone-information {
        width: 70%;
    }
    .phone-information h5 {
         font-size: 15px; 
         font-weight: bold;
         margin: 5px 0px 0px 15px;
      }
    .phone-information span {
        font-size: 9px;
        margin-left: 15px;
    }
    /* Ent The Contact Information Section  */
}
@media (min-width: 992px) and (max-width: 1199px) {
    /* About Me Section  */
    .my-description h2 {
        font-size: 40px;
    }
    .my-description span {
        font-size: 30px;
    }
    .my-description p {
        font-size: 16px;
        padding-top: 0px;
    }
    .skills span {
        font-size: 20px;
    }
    .skills span:nth-child(3) {
        padding-top: 10px;
    }
    .skills span:nth-child(5) {
        padding-top: 10px;
    }
    .skills span:nth-child(7) {
        padding-top: 10px;
    }
    /* End About Me Section  */
    /* Start The Contact Information Section  */
    .icon {
        font-size: 36px;
        padding: 10px;
    }
    .phone-information h5 {
        font-size: 20px;
        font-weight: bold;
        margin-top: 1px;
    }
    .phone-information span {
        font-size: 13px;
    }
    /* End The Contact Information Section  */
}
